body{
    background-color: #2F0B5F;
    background-image: url('img/home.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 900px;
    margin: 0 auto;
    height: 2000px;
    width: 100%;
    overflow-x: hidden;
}

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('img/rectangle.png');
    box-shadow: 2px 1px 1px 1px black;
    z-index: 1000;
}


.group-logo{
    position:relative;
    margin-left: 6vw;
    width: 5vw;
}

.home-button{
    position: absolute;
    font-size: 1.6vw;
    margin-left: 10vw;

}

.gallery,.aboutus,.contactus{
    font-size: 1.25vw;
}

.right{
    display: flex;
    gap: 4vw;
    margin-right: 10vw;
}

a{
    text-decoration: none;
    padding: 25px 25px 25px 25px;
    color: #F9F6EE;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

::-webkit-scrollbar{
    width: 1px;
}

::-webkit-scrollbar-thumb{
    background: black;
}

::-webkit-scrollbar-track{
    background: #F9F6EE;
}

